@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* { /*Configurações gerais*/
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps; /*Letras maiúsculas mas não tão grandes*/
    font-family: var(--fonte2);
    font-size: 10vw; /*(vw)porcentagem da largura da tela atual*/
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section { /* Todas as sections */
    line-height: 2em; /*espaço de altura entre as linhas*/
    padding-top: 10vh; /*Aumenta o tamanho do padding das sections. Com vh fica baseado no tamanho da leta*/ 
    padding-bottom: 10vh; 
    padding: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw; /*(vw)porcentagem da largura da tela atual*/
}

section > p {
    padding-bottom: 2em; /*Espaço de 2em abaixo de cada parágrafo*/
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(71, 71, 71);
    color: white;
    box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed; /*Efeit Parallax*/
}

section.imagem > p { 
    /*width: 400px; retirado e substituido por display: inline-block; e padding: 5px;*/
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.466); /*todo <p> dentro da section imagem, vai ter o fundo desta cor*/
    text-shadow: 1px 1px 0px black ;
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}